{%extends'base.html'%}

{%block head%}

{%endblock%}

{%block body%}
<div class="header">
    <h1 class="h1">Face Recognition</h1>
       <nav>
           <ul><h8>
           <li><a href="/Home">Home</a></li>
           <li><a href="">Add Students</a></li>
           <li><a href="/Addsubject">Add Subject</a></li>
           <li><a href="/Attendancelog">Attendance log</a></li>
           </h8>
           </ul>
       </nav>
</div>

<div class="e1">
   <img src="static/assets/image/e1.png">
</div>
<div class="e2">
   <img src="static/assets/image/e2.png">
</div>

<div class="r">
   <img src="static/assets/image/add student image.png" alt="Image">
   <form>
       <div class="container">
           <label for="studentid"><b>Student ID</b></label>
           <input type="text" placeholder="Enter Student ID" name="studentid" id="studentid" required>
           <br><br>
           <label for="studentname"><b>Student Name</b></label>
           <input type="text" placeholder="Enter Student Name" name="studentname" id="studentname" required>
           <br><br>
           <label for="studentphoto"><b>Student Photo</b></label>
           <input type="file" id="studentphoto" name="studentphoto">
           <br><br>
           <button type="submit" class="registerbtn">Add Student</button>
       </div>
   </form>
</div>
{%endblock%}





