{%extends'base.html'%}

{%block head%}

{%endblock%}

{%block body%}
<div class="header">
    <h1 class="h1">Face Recognition</h1>
       <nav>
         <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('Addstudent') }}">Add Students</a></li>
            <li><a href="{{ url_for('Addsubject') }}">Add Subject</a></li>
            <li><a href="{{ url_for('Attendancelog') }}">Attendance log</a></li>
        </ul>
       </nav>
</div> 
<div class="Selectsub">
   <h1>Select Subjects</h1>
</div>
<div class="frame1">
   <img src="static/assets/image/Frame2.png">
   <img src="static/assets/image/Frame2.png">
   <img src="static/assets/image/Frame2.png">
   <img src="static/assets/image/Frame2.png">
   <img src="static/assets/image/Frame2.png">
   <img src="static/assets/image/Frame2.png">
</div>
<div class="frame">
   <img src="static/assets/image/square.png">
</div>
<div class="e1">
   <img src="static/assets/image/e1.png">
</div>
<div class="e2">
   <img src="static/assets/image/e2.png">
</div>
<div class="egroup">
   <img src="static/assets/image/twin spheres.png">
</div>
{%endblock%}