{%extends'base.html'%}

{%block head%}

{%endblock%}

{%block body%}
<div class="header">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

   <h1 class="h1">Face Recognition</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('Addstudent') }}">Add Students</a></li>
          <li><a href="{{ url_for('Attendancelog') }}">Attendance log</a></li>
      </ul>
      </nav>
</div>  
<div class="Image">
  <img src="static/assets/image/intropage img.png">
</div>
<div class="ecllipse">
  <div class="e1">
    <img src="{{ url_for('static', filename='assets/image/e1.png') }}">
  </div>
  <div class="e2">
    <img src="{{ url_for('static', filename='assets/image/e2.png') }}">
  </div>
</div>

</body>
<div class="content">
  <h2 class="h2">Attendance System<br></h2>
  <p>Attendance Through Face Recognition: Revolutionizing <br>Efficiency and Accuracy</p>
  <a href="{{ url_for('video_feed_page') }}">
  <button type="submit" class="cam">OPEN CAMERA</button>
  </a>
</div>
{%endblock%}